In [25]:
import pandas as pd
import numpy as np
import os
import sys

In [32]:
path = '/Users/ngochoang/Library/CloudStorage/GoogleDrive-nhungoc1508@gmail.com/My Drive/Graduate/Semester 1 (Fall 2024)/INFO-H423 Data Mining/Project/SNCB_IncidentClassifier/models/anomaly_detection/results/20241128_081201_w150_l10'
os.chdir(path)
os.getcwd()

'/Users/ngochoang/Library/CloudStorage/GoogleDrive-nhungoc1508@gmail.com/My Drive/Graduate/Semester 1 (Fall 2024)/INFO-H423 Data Mining/Project/SNCB_IncidentClassifier/models/anomaly_detection/results/20241128_081201_w150_l10'

In [33]:
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [34]:
import utils

In [35]:
df_mse = pd.read_csv('df_mse.csv', index_col=0)
df_mse.head()

,t00,t01,t02,t03,t04,t05,t06,t07,t08,t09,...,t145,t146,t147,t148,t149,anom_count,incident_id,num,class,mse
0,2744,4004,2852,4110,2854,4396,1132,4140,4148,2708,...,4090,3236,2982,4100,2702,0,4432881,0,normal,45.528598
1,4026,1032,1082,4152,4030,4018,4168,4156,4394,152,...,2744,4004,2852,4110,2854,0,4432881,1,normal,46.252181
2,2742,4410,4406,4068,4408,4412,4066,2744,4026,4148,...,4018,4140,4140,2552,4168,0,4432881,2,normal,46.606699
3,4168,4140,3986,2744,4002,2852,4110,2854,4148,2708,...,4168,4156,2708,2970,4082,0,4432881,3,normal,46.985108
4,4026,4140,4152,4030,4018,4140,4168,4156,2852,2854,...,3236,2982,4066,2708,2708,0,4432881,4,normal,46.674887

# Top sequences overall

In [36]:
def get_top_seqs(perc):
    top_seqs = []

    for incident_id in df_mse['incident_id'].unique():
        incident_df = df_mse[df_mse['incident_id'] == incident_id]
        ranked_df = incident_df.sort_values(by='mse', ascending=False)
        count = round(ranked_df.shape[0] * perc / 100)
        zero_count = 0
        if count == 0:
            zero_count += 1
            count = 1
        top_seqs.append(ranked_df.iloc[:count])
    
    df_top_seqs = pd.concat(top_seqs)
    print(f'Perc: {perc} -- {zero_count} incidents contribute 0 subsequence, instead top 1 subsequence was chosen')
    return df_top_seqs

In [37]:
os.getcwd()

'/Users/ngochoang/Library/CloudStorage/GoogleDrive-nhungoc1508@gmail.com/My Drive/Graduate/Semester 1 (Fall 2024)/INFO-H423 Data Mining/Project/SNCB_IncidentClassifier/models/anomaly_detection/results/20241128_081201_w150_l10'

In [38]:
percs = [10, 15, 20, 30, 50]
for perc in percs:
    df_tmp = get_top_seqs(perc)
    df_tmp.to_csv(f'../../classification/data_all/top_seq_{perc}.csv')
    print(f'Percent: {perc}, number of sequences: {df_tmp.shape[0]}, unique ID count: {df_tmp["incident_id"].unique().shape}')

Perc: 10 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 10, number of sequences: 4295, unique ID count: (912,)
Perc: 15 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 15, number of sequences: 6408, unique ID count: (912,)
Perc: 20 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 20, number of sequences: 8537, unique ID count: (912,)
Perc: 30 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 30, number of sequences: 12777, unique ID count: (912,)
Perc: 50 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 50, number of sequences: 21291, unique ID count: (912,)

# Normal subsequences only

In [39]:
def get_top_normal_seqs(perc):
    top_seqs = []

    for incident_id in df_mse['incident_id'].unique():
        incident_df = df_mse[(df_mse['incident_id'] == incident_id) & (df_mse['class'] == 'normal')]
        ranked_df = incident_df.sort_values(by='mse', ascending=False)
        count = round(ranked_df.shape[0] * perc / 100)
        zero_count = 0
        if count == 0:
            zero_count += 1
            count = 1
        top_seqs.append(ranked_df.iloc[:count])
    
    df_top_seqs = pd.concat(top_seqs)
    print(f'Perc: {perc} -- {zero_count} incidents contribute 0 subsequence, instead top 1 subsequence was chosen')
    return df_top_seqs

In [40]:
percs = [10, 15, 20, 30, 50]
for perc in percs:
    df_tmp = get_top_normal_seqs(perc)
    df_tmp.to_csv(f'../../classification/data_norm/top_seq_{perc}.csv')
    print(f'Percent: {perc}, number of sequences: {df_tmp.shape[0]}, unique ID count: {df_tmp["incident_id"].unique().shape}')

Perc: 10 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 10, number of sequences: 3002, unique ID count: (802,)
Perc: 15 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 15, number of sequences: 4461, unique ID count: (802,)
Perc: 20 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 20, number of sequences: 5920, unique ID count: (802,)
Perc: 30 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 30, number of sequences: 8879, unique ID count: (802,)
Perc: 50 -- 0 incidents contribute 0 subsequence, instead top 1 subsequence was chosen
Percent: 50, number of sequences: 14767, unique ID count: (802,)